{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Liste des produits</h1>
<ul>
  <li><a href="/product/1">Produit 1</a></li>
  <li><a href="/product/2">Produit 2</a></li>
  <li><a href="/product/3">Produit 3</a></li>
  <li><a href="/product/4">Produit 4</a></li>
  <li><a href="/product/5">Produit 5</a></li>
    </ul>
    <!-- Vous pouvez ajouter ici le contenu spécifique à la liste des produits -->
</div>
{% endblock %}
