{% extends 'base.html.twig' %}

{% block title %}Affichage du produit {{ id }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Affichage du produit {{ id }}</h1>
    <!-- Vous pouvez ajouter ici le contenu spécifique à l'affichage du produit -->
</div>
{% endblock %}
